{% extends "visualize.html" %}

{% block content %}
<style>
    .box {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }
</style>
<div class="box">
    <div id="724a914eeb994c8f8b272ec57bdaa42a" class="chart-container" style="width:1200px; height:500px; "></div>
    <script>
        var chart_724a914eeb994c8f8b272ec57bdaa42a = echarts.init(
            document.getElementById('724a914eeb994c8f8b272ec57bdaa42a'), 'essos', { renderer: 'canvas' });
        var option_724a914eeb994c8f8b272ec57bdaa42a = {
            "animation": true,
            "animationThreshold": 2000,
            "animationDuration": 1000,
            "animationEasing": "cubicOut",
            "animationDelay": 0,
            "animationDurationUpdate": 300,
            "animationEasingUpdate": "cubicOut",
            "animationDelayUpdate": 0,
            "aria": {
                "enabled": false
            },
            "series": [
                {
                    "type": "bar",
                    "name": "\u6295\u5e01\u6570",
                    "legendHoverLink": true,
                    "data": [
                        2219684,
                        2145596,
                        2006602,
                        1657364,
                        1595703,
                        1512936,
                        1499952,
                        1470792,
                        1459523,
                        1411624
                    ],
                    "realtimeSort": false,
                    "showBackground": false,
                    "stackStrategy": "samesign",
                    "cursor": "pointer",
                    "barMinHeight": 0,
                    "barCategoryGap": "20%",
                    "barGap": "30%",
                    "large": false,
                    "largeThreshold": 400,
                    "seriesLayoutBy": "column",
                    "datasetIndex": 0,
                    "clip": true,
                    "zlevel": 0,
                    "z": 2,
                    "label": {
                        "show": false,
                        "margin": 8
                    },
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "legend": [
                {
                    "data": [
                        "\u6295\u5e01\u6570"
                    ],
                    "selected": {},
                    "show": false,
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "backgroundColor": "transparent",
                    "borderColor": "#ccc",
                    "borderWidth": 1,
                    "borderRadius": 0,
                    "pageButtonItemGap": 5,
                    "pageButtonPosition": "end",
                    "pageFormatter": "{current}/{total}",
                    "pageIconColor": "#2f4554",
                    "pageIconInactiveColor": "#aaa",
                    "pageIconSize": 15,
                    "animationDurationUpdate": 800,
                    "selector": false,
                    "selectorPosition": "auto",
                    "selectorItemGap": 7,
                    "selectorButtonGap": 10
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "enterable": false,
                "confine": false,
                "appendToBody": false,
                "transitionDuration": 0.4,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5,
                "order": "seriesAsc"
            },
            "xAxis": [
                {
                    "show": true,
                    "scale": false,
                    "nameLocation": "end",
                    "nameGap": 15,
                    "gridIndex": 0,
                    "axisLabel": {
                        "show": true,
                        "rotate": 0,
                        "margin": 8,
                        "fontSize": 10
                    },
                    "inverse": false,
                    "offset": 0,
                    "splitNumber": 5,
                    "minInterval": 0,
                    "splitLine": {
                        "show": true,
                        "lineStyle": {
                            "show": true,
                            "width": 1,
                            "opacity": 1,
                            "curveness": 0,
                            "type": "solid"
                        }
                    },
                    "data": [
                        "\u8ddf\u7740\u798f\u5c9b\u6e14\u6c11\n\u51fa\u6d77\uff0c\u635e\u4e0a\u6765\n\u7684\u9c7c\u68c0\u6d4b\u7ed3\u679c\n\u5982\u4f55\uff1f\u3010\u4e1c\u701b\n\u5927\u5b9d\u835002\u3011\n",
                        "\u3010\u8001\u756a\u8304\u3011\u6211\n\u7ed3\u5a5a\u5566\uff01\uff01\uff01\n",
                        "\u3010\u8001\u756a\u8304\u3011\u6211\n\u6c42\u5a5a\u5566\uff01\uff01",
                        "\u5e26\u4f60\u53bb\u770b\u66fe\u7ecf\n\u6700\u6781\u81f4\u7684\u6d6a\u6f2b\n\uff0c\u5343\u5e74\u7edd\u6280\u2014\n\u6253\u94c1\u82b1",
                        "\u706b\u67f4\u4ebaVS\u6570\n\u5b66(Math\n)",
                        "\u6211\u4eec\u4e70\u4e86\u4e00\u9897\n\u56fd\u4ea7\u536b\u661f\u3002",
                        "\u3010\u4f55\u540c\u5b66\u3011\u6211\n\u4eec\u505a\u4e86\u4e00\u53f0\u4e2d\n\u6587\u6253\u5b57\u673a..\n.",
                        "2023\u6211\u7684\n\u4e16\u754c\u62dc\u5e74\u7eaa",
                        "\u300a\u9003\u51fa\u5927\u82f1\u535a\n\u7269\u9986\u300b\u7b2c\u4e09\u96c6\n",
                        "\u201c\u6211\uff0c\uff08\uff09\uff0c\n\u6253\u94b1\uff01\u201d"
                    ]
                }
            ],
            "yAxis": [
                {
                    "show": true,
                    "scale": false,
                    "nameLocation": "end",
                    "nameGap": 15,
                    "gridIndex": 0,
                    "inverse": false,
                    "offset": 0,
                    "splitNumber": 5,
                    "minInterval": 0,
                    "splitLine": {
                        "show": true,
                        "lineStyle": {
                            "show": true,
                            "width": 1,
                            "opacity": 1,
                            "curveness": 0,
                            "type": "solid"
                        }
                    }
                }
            ],
            "title": [
                {
                    "show": true,
                    "text": "\u6295\u5e01\u6700\u591a\u7684\u89c6\u9891",
                    "target": "blank",
                    "subtarget": "blank",
                    "left": "center",
                    "top": "5%",
                    "padding": 5,
                    "itemGap": 10,
                    "textAlign": "auto",
                    "textVerticalAlign": "auto",
                    "triggerEvent": false
                }
            ],
            "toolbox": [
                {
                    "show": true,
                    "target": "blank",
                    "subtarget": "blank",
                    "padding": 5,
                    "itemGap": 10,
                    "textAlign": "auto",
                    "textVerticalAlign": "auto",
                    "triggerEvent": false
                }
            ]
        };
        chart_724a914eeb994c8f8b272ec57bdaa42a.setOption(option_724a914eeb994c8f8b272ec57bdaa42a);
    </script>
    <br />
    <div id="65e65c7c278947d08e73ec1e6d6842ac" class="chart-container" style="width:1200px; height:500px; "></div>
    <script>
        var chart_65e65c7c278947d08e73ec1e6d6842ac = echarts.init(
            document.getElementById('65e65c7c278947d08e73ec1e6d6842ac'), 'essos', { renderer: 'canvas' });
        var option_65e65c7c278947d08e73ec1e6d6842ac = {
            "animation": true,
            "animationThreshold": 2000,
            "animationDuration": 1000,
            "animationEasing": "cubicOut",
            "animationDelay": 0,
            "animationDurationUpdate": 300,
            "animationEasingUpdate": "cubicOut",
            "animationDelayUpdate": 0,
            "aria": {
                "enabled": false
            },
            "series": [
                {
                    "type": "bar",
                    "name": "\u6295\u5e01\u6570",
                    "legendHoverLink": true,
                    "data": [
                        7779499,
                        7505637,
                        4591894,
                        4503216,
                        4419813,
                        4310028,
                        4016091,
                        3472522,
                        2929379,
                        2809633
                    ],
                    "realtimeSort": false,
                    "showBackground": false,
                    "stackStrategy": "samesign",
                    "cursor": "pointer",
                    "barMinHeight": 0,
                    "barCategoryGap": "20%",
                    "barGap": "30%",
                    "large": false,
                    "largeThreshold": 400,
                    "seriesLayoutBy": "column",
                    "datasetIndex": 0,
                    "clip": true,
                    "zlevel": 0,
                    "z": 2,
                    "label": {
                        "show": false,
                        "margin": 8
                    },
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "legend": [
                {
                    "data": [
                        "\u6295\u5e01\u6570"
                    ],
                    "selected": {},
                    "show": false,
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "backgroundColor": "transparent",
                    "borderColor": "#ccc",
                    "borderWidth": 1,
                    "borderRadius": 0,
                    "pageButtonItemGap": 5,
                    "pageButtonPosition": "end",
                    "pageFormatter": "{current}/{total}",
                    "pageIconColor": "#2f4554",
                    "pageIconInactiveColor": "#aaa",
                    "pageIconSize": 15,
                    "animationDurationUpdate": 800,
                    "selector": false,
                    "selectorPosition": "auto",
                    "selectorItemGap": 7,
                    "selectorButtonGap": 10
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "enterable": false,
                "confine": false,
                "appendToBody": false,
                "transitionDuration": 0.4,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5,
                "order": "seriesAsc"
            },
            "xAxis": [
                {
                    "show": true,
                    "scale": false,
                    "nameLocation": "end",
                    "nameGap": 15,
                    "gridIndex": 0,
                    "axisLabel": {
                        "show": true,
                        "rotate": 0,
                        "margin": 8,
                        "fontSize": 10
                    },
                    "inverse": false,
                    "offset": 0,
                    "splitNumber": 5,
                    "minInterval": 0,
                    "splitLine": {
                        "show": true,
                        "lineStyle": {
                            "show": true,
                            "width": 1,
                            "opacity": 1,
                            "curveness": 0,
                            "type": "solid"
                        }
                    },
                    "data": [
                        "\u5c0f\u6f6e\u9662\u957f",
                        "\u8001\u756a\u8304",
                        "\u76d7\u6708\u793e\u98df\u9047\u8bb0\n",
                        "\u539f\u795e",
                        "\u6728\u9c7c\u6c34\u5fc3",
                        "\u5c0f\u7ea6\u7ff0\u53ef\u6c57",
                        "\u5d29\u574f\u661f\u7a79\u94c1\u9053\n",
                        "\u5f71\u89c6\u98d3\u98ce",
                        "\u6cdb\u5f0f",
                        "\u8001\u5e08\u597d\u6211\u53eb\u4f55\n\u540c\u5b66"
                    ]
                }
            ],
            "yAxis": [
                {
                    "show": true,
                    "scale": false,
                    "nameLocation": "end",
                    "nameGap": 15,
                    "gridIndex": 0,
                    "inverse": false,
                    "offset": 0,
                    "splitNumber": 5,
                    "minInterval": 0,
                    "splitLine": {
                        "show": true,
                        "lineStyle": {
                            "show": true,
                            "width": 1,
                            "opacity": 1,
                            "curveness": 0,
                            "type": "solid"
                        }
                    }
                }
            ],
            "title": [
                {
                    "show": true,
                    "text": "\u6295\u5e01\u6700\u591a\u7684up\u4e3b",
                    "target": "blank",
                    "subtarget": "blank",
                    "left": "center",
                    "top": "5%",
                    "padding": 5,
                    "itemGap": 10,
                    "textAlign": "auto",
                    "textVerticalAlign": "auto",
                    "triggerEvent": false
                }
            ],
            "toolbox": [
                {
                    "show": true,
                    "target": "blank",
                    "subtarget": "blank",
                    "padding": 5,
                    "itemGap": 10,
                    "textAlign": "auto",
                    "textVerticalAlign": "auto",
                    "triggerEvent": false
                }
            ]
        };
        chart_65e65c7c278947d08e73ec1e6d6842ac.setOption(option_65e65c7c278947d08e73ec1e6d6842ac);
    </script>
    <br />
</div>
{% endblock %}
